.landingimage {
    display:block;
    position:absolute;
    background:url(../images/family_dinner.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
    bottom:0;
    right:0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.header1{
	position: absolute;
    width: 100%;
	background-color: rgba(255, 235, 182, 0.7);
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 0%;
	padding-bottom: 1%;
	color: black;
	
}
.headersection{
	/*width:100%; */
	background-color: rgb(255,235,182);
	padding-bottom: 1%;
	border-bottom: 3px solid #999;
}
.textBox{
	position: absolute;
	top: 10%;
	left: 5%;
	width:40%;
	top: 20%;
	left: 5%;
	width: 40%;
	background-color: rgba(255, 255, 255, 0.7);
	padding:1%;
}

.parapadding{
	padding-bottom: 20px;
}

.parapadding1{
	padding-bottom: 3%;
	/*border-bottom: 3px solid #999;*/
}

.imageheight{
	/*min-height: 200px;*/
	max-height: 150px;
}

.displayedDish{
	height: 230px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}